  
  
  header {
	background-color: #ee8d3e;

  border-radius: 300px;

	margin-bottom: 50px;
    
	color: #fff;

	text-align: center;

  font-size: 30px;

  display: grid;                    /*per mettere logo a fianco di titolo*/            

  grid-template-columns: 50% 50%;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}



  

  * {
    background-color: #f8e1c3;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0.7%;
  }

  


  section {

  border-top: 1px solid #000;   /*bordo superiore fa da linea separatrice*/

  padding-top: 20px;

  margin-top: 20px;

  display: grid;

  grid-template-columns: 50% 50%;

}



h2 {text-align: center;

  font-weight: 1000;    /*bold sembra non funzionare. bo*/

  margin-top: 40px;

  margin-bottom: 20px;

}




.center-container {
  text-align:center;
}



img {
  border-radius: 30px;  /*smussa gli angoli dell'immagine*/

  margin-bottom: 40px;

  max-width: 50%;

  height: auto;

  display: inline-block;

  min-width: 200px;

  width: fit-content;
}


.main-text {
  text-align: justify;

  margin-top: 5%;
  
  font-size: 20px;

  max-width: 500px;
}

button a {
  color:rgb(219, 44, 44);
  background-color: transparent;
  font-weight: bold;
}

button {
  background-color: rgb(236, 177, 159);
  border-width: 3px;
  border-color: #5c2c2c;
}

button:hover {
  background-color: #eed0cc;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}


header {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}