header {
	background-color: #a5a6f1;

	padding: 60px;

  border-radius: 300px;

	margin-bottom: 50px;

	color: #fff;

	text-align: center;

  }
  

  * {
    background-color: #e7e9f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.7%;
  }

  


  section {

  border-top: 1px solid #000;   /*bordo superiore fa da linea separatrice*/

  padding-top: 20px;

  margin-top: 20px;

}



h2 {text-align: center;
  font-weight: 1000;    /*bold sembra non funzionare. bo*/
  margin-top: 40px;
  margin-bottom: 20px;

}




.center-container {
  text-align:center;
}



img {
  border-radius: 30px;  /*smussa gli angoli dell'immagine*/
  margin-bottom: 40px;
  max-width: 80%;
  height: auto;
  display: inline-block;
}

.main-text {
  text-align: justify;
}